Build/
build/
out/
bin/
obj/
.vs/
.idea/
.vscode/

CMakeUserPresets.json
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake

*.user
*.suo
*.VC.db
*.VC.VC.opendb
*.opensdf
*.sdf

*.log
*.tmp

cmake-build-debug
cmake-build-release

*.pyc
.DS_Store