<Project>
  <PropertyGroup>
    <VEngineEnableIOSNativeAOT>true</VEngineEnableIOSNativeAOT>
    <TargetFramework>net10.0</TargetFramework>
    <RuntimeIdentifier>iossimulator-arm64</RuntimeIdentifier>
    <PublishAot>true</PublishAot>
    <PublishAotUsingRuntimePack>true</PublishAotUsingRuntimePack>
    <NativeLib>Static</NativeLib>
    <SelfContained>true</SelfContained>
    <InvariantGlobalization>true</InvariantGlobalization>
    <AppleMinOSVersion>17.0</AppleMinOSVersion>
    <IsAotCompatible>true</IsAotCompatible>
    <JsonSerializerIsReflectionEnabledByDefault>false</JsonSerializerIsReflectionEnabledByDefault>
  </PropertyGroup>
</Project>
